<a href="{{id}}" class="list-group-item list-group-item-action pl-4">
  <div class="d-flex justify-content-between">
    <div>
      <h3>{{room_name}}</h3>
 
      <h5>{{user.username}}</h5>
    </div>
    <div>
      <span class="badge badge-dark p-2">
     <i class="fas fa-user-circle mr-2"></i>{{getRoomUsers id}}
      </span>
    </div>
  </div>
</a>