<!doctype html>
<html lang="en">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- FontAwesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="./style.css">
     <title>Project 2</title>
</head>

<body>

     <!-- Top Bar -->
     <nav class="navbar navbar-expand-lg navbar-light" id="topbar">
          <h2>CHAT</h2>
     </nav>

     <!-- Left Bar -->
     <div class="row" id="roomTitle">
          <h2>Chat Rooms</h2>
     </div>
     <div class="form-group">
          <input class="form-control" type="text" id="input" name="inputName" placeholder="New Chat Room" value=""
               autocomplete="on" />
     </div>
     <div class="row" id="room">Chat room name<span class="badge badge-info pull-right">#</span><i class="far fa-user pull-right" id="roomicon"></i><div id="roomUser">Username</div></div>
     <div class="row" id="room">Chat room name<span class="badge badge-info pull-right">#</span><i class="far fa-user pull-right" id="roomicon"></i><div id="roomUser">Username</div></div>
     <div class="row" id="room">Chat room name<span class="badge badge-info pull-right">#</span><i class="far fa-user pull-right" id="roomicon"></i><div id="roomUser">Username</div></div>
     <div class="row" id="room">Chat room name<span class="badge badge-info pull-right">#</span><i class="far fa-user pull-right" id="roomicon"></i><div id="roomUser">Username</div></div>
     <div class="row" id="room">Chat room name<span class="badge badge-info pull-right">#</span><i class="far fa-user pull-right" id="roomicon"></i><div id="roomUser">Username</div></div>
     <div class="row" id="room">Chat room name<span class="badge badge-info pull-right">#</span><i class="far fa-user pull-right" id="roomicon"></i><div id="roomUser">Username</div></div>


     <!-- Right Bar -->
     <div class="sidenav">

          <div class="row" id="usernameTitle">
               <h2>Online Users</h2>
          </div>
          <div class="row" id="username"><i class="far fa-user"></i> Username</div>
          <div class="row" id="username"><i class="far fa-user"></i> Username</div>
          <div class="row" id="username"><i class="far fa-user"></i> Username</div>
          <div class="row" id="username"><i class="far fa-user"></i> Username</div>
          <div class="row" id="username"><i class="far fa-user"></i> Username</div>
          <div class="row" id="username"><i class="far fa-user"></i> Username</div>
     </div>















     <script src="./assets/js/script.js"></script>
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</body>

</html>