body {
     font-family: "Lato", sans-serif;
}

.sidenav {
     height: 100%;
     width: 25%;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: white;
     overflow-x: hidden;
     padding-top: 0px;
     margin-top: 50px;
     border-left: 2px solid rgb(34, 34, 34);
}

.sidenav p {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
}

#room {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 1.5em;
     color: #000000;
     display: block;     
     border-bottom: 1px solid rgb(34, 34, 34);
     padding-left: 20px;
     width: 76%;
}

#roomUser {
     font-size: 0.5em;
}

#username {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 1em;
     color: #000000;
     display: block;
     border-bottom: 1px solid rgb(34, 34, 34);
     padding-left: 20px;
}

#roomTitle {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 25px;
     color: #000000;
     display: block;
     border-top: 1px solid #000000;
     border-bottom: 2px solid rgb(34, 34, 34);
     padding-left: 20px;
     white-space: nowrap;
}

#roomTitle h2,
#usernameTitle h2 {
     font-weight: bold;
}

#usernameTitle {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 25px;
     color: #000000;
     display: block;
     border-top: 1px solid #000000;
     border-bottom: 2px solid rgb(34, 34, 34);
     padding-left: 20px;
     white-space: nowrap;
}

.sidenav a:hover {
     color: #f1f1f1;
}

.main {
     margin-left: 160px;
     /* Same as the width of the sidenav */
     font-size: 28px;
     /* Increased text to enable scrolling */
     padding: 0px 10px;
}

@media screen and (max-height: 450px) {
     .sidenav {
          padding-top: 15px;
     }

     .sidenav a {
          font-size: 18px;
     }
}

#topbar {
     min-width:100%;
     background-color: rgb(49, 49, 49);
     color: white;
     margin-right: 0px;
     height:50px;
}

#topbar h2 {
     font-size: 120%;
}

.navbar {
     max-width: 60%;
}

#chatrooms {
     max-width: 60%;
     margin: 0px;
}

#roomicon {
     float: right;
}

.badge {
     float: right;
}

#chatInput {
     max-width: 75%;
     margin-top: 1%;
     border-bottom:1px solid rgb(34, 34, 34);
     

}

#button-addon2 {
     background-color: rgb(74, 143, 255);
     color: white;
    
}

.form-control {
     margin-bottom: 2%;
     
}