<link rel="stylesheet" href="/assets/css/chatroom1.css">


<nav class="navbar navbar-expand-lg" id="subnav">
     <h2 class="chat-room-title pl-5" data-id="{{id}}">{{room_name}}</h2>
</nav>

<div class="row wrapper">
     <div class="col-2 col-sm-4 col-md-2 col-lg-2 col-xl-3" id="room-users">
          <h2>Current Users:</h2>
          <ul>
          </ul>
     </div>
     <div class="col-8 col-sm-7 col-md-8 col-lg-7 col-xl-7">
          <div class="">
               <div class="row">
                    <div class="col-12" id="chatBox">
                         <ul id="chatList" style="list-style-type:none">
                              <li></li>
                         </ul>
                    </div>
               </div>
          </div>
          <div class="">
               <div class="input-group mb-3">
                    <form class="chat-form">
                         <input type="text" id="chatInput" class="form-control" placeholder="Enter Message Here"
                              aria-label="Recipient's username" aria-describedby="button-addon2">
                         <button type="submit">Send</button>
                         <label for="image-upload"><i class="fas fa-camera" id="insert-image"></i></label>
                         <input type="file" id="image-upload">
                    </form>
                    {{!-- <button class="btn btn-outline-secondary" type="button" id="send-chat">Send</button> --}}
               </div>
          </div>
     </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
     integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/javascript/main.js"></script>
<script src="/assets/javascript/logout.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>