<link rel="stylesheet" href="/assets/css/chatroom1.css">
<nav class="navbar navbar-expand-lg navbar-light" id="topbar">
     <h2>CHAT ROOM {{id}}</h2>
</nav>

<div class="row wrapper">
     <div class="col-2" id="room-users">
          <h2>users</h2>
          <ul>
               <li>
                    <i class="far fa-user pull-right mr-2" id=""></i>Helen
               </li>
               <li>
                    <i class="far fa-user pull-right mr-2" id=""></i> fasika
               </li>
          </ul>
     </div>
     <div class="col-7">
          <div class="">
               <div class="row">
                    <div class="col-12" id="chatBox">
                         <ul id=chatList style="list-style-type:none">
                              <li></li>
                         </ul>
                    </div>
               </div>
          </div>
          <div class="">
               <div class="input-group mb-3">
                    <input type="text" id="chatInput" class="form-control" placeholder="New chat room"
                         aria-label="Recipient's username" aria-describedby="button-addon2">
                    <form>
                         <label for="image-upload"><i class="fas fa-camera" id="insert-image"></i></label>
                         <input type="file" id="image-upload">
                    </form>
                    {{!-- <button class="btn btn-outline-secondary" type="button" id="send-chat">Send</button> --}}
               </div>
          </div>
     </div>
</div>




<script src="/assets/javascript/chatroom1.js"></script>