<div class="container-fluid m-0 p-0">

  <div class="row m-0 h-100 ">
    <!-- Left Bar -->
    <div class="col-md-8 p-0">
      <!-- create new room form -->
      <form id="chat-input" class="p-4">
        <div class="row align-items-end">
          <div class="col" id="holder">
            <input id="room-name" class="form-control" type="text" placeholder="Enter room name" required>
          </div>
          <div class="col" id="holder">
            <select id="room-type" class="form-control text-center">
              <option selected="selected">Insert room type</option>
              {{#each types}}
              <option value="{{id}}">{{type_name}}</option>
              {{/each}}

            </select>
          </div>
          <div class="col">
            <button class="btn" type="submit" id="create-new">Create</button>
          </div>
        </div>
      </form>
      <!-- list existing rooms -->
      <div class="room-list p-4">
        {{#each rooms}}
        {{> room-info }}
        {{/each}}
      </div>
    </div>

    <!-- Left Bar ENDS -->

    <!-- Sidenav of online users -->
    <div class="col p-4 d-none d-md-block sidenav">
      <div>
        <h5 class="online-users">Online Users</h5>
      </div>
      <div class="online-users-list"></div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/javascript/homepage.js"></script>
<script src="/assets/javascript/add-room.js"></script>