<div class="row">
    <div class="col s12 nav-bar">
        <nav>
            <div class="nav-wrapper">
                <a class="btn-floating pulse"><i class="material-icons chat-icon">chat</i></a>
                <span>MyChat</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html"><i class="material-icons left">search</i>Search</a></li>
                    <li><a href="#">Online</a></li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="col s3 chat-group">
        <input type="text" placeholder="create group" class="create-group">
    </div>
    <div class="col s6 live-chat">
        <div class="chat">
            <input type="text" placeholder="Send a message...." class="type-text">
            <i class="material-icons">camera_alt</i>
            <i class="material-icons">attach_file</i>

        </div>
    </div>
    <div class="col s3 users">

    </div>
</div>