<div class="container-fluid m-0 p-0">
  <div class="row m-0">
    <!-- Left Bar -->
    <div class="col">
      <!-- create new room form -->
      <form id="chat-input" class="p-4">
        <div class="row align-items-end">
          <div class="col">
            <label for="room-name">Room name</label>
            <input id="room-name" class="form-control form-control-lg" type="text" placeholder="Enter room name">
          </div>
          <div class="col">
            <label for="room-type">Room type</label>
            <select id="room-type" class="form-control form-control-lg">
            <option>Select room type</option>
            </select>
          </div>
          <div class="col-2">
            <button class="btn btn-primary btn-lg btn-block" type="submit" id="create-new">Create</button>
          </div>
        </div>
      </form>
      <!-- list existing rooms -->
      <div class="room-list">
      {{#each rooms}}
        {{> room-info }}
      {{/each}}
      </div>
    </div>
    <!-- Left Bar ENDS -->
    
    <!-- Sidenav of online users -->
    <div class="col p-4 d-none d-lg-block sidenav">
      <div>
        <h5>Online Users</h4>
      </div>
     {{#each rooms}}
        {{> online-user }}
      {{/each}}
    </div>
  </div>
</div>

<script src="/assets/javascript/add-room.js"></script>
