<div class="row p-2 justify-content-center">
  <div class="col-5 m-0 p-0">
    <form id="login-tab" class="form login-tab login-form">
      <h2 class="display-5 text-center p-5"> Welcome back! </h2>
      <div class="row mb-3">
        <label for="username" class="m-0 p-0 col-form-label">User name</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="row mb-3">
        <label for="password" class="m-0 p-0 col-form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
      </div>
      <div class="row mb-3">
        <button type="submit" class="btn btn input-block-level form-control btn-primary p-2 m-0">Login</button>
      </div>
      <div class="row mb-3">
        <a class="nav-link text-center" href="#" onclick="openTab('signup-tab')">Or signup</a>
      </div>
    </form>

    <form id="signup-tab" class="form signup-tab signup-form" style="display:none">
      <h2 class="display-5 text-center p-5"> Nice to meet you! </h2>

      <div class="row mb-3">
        <label for="username-signup" class="m-0 p-0 col-sm-2 col-form-label">Username</label>
        <input type="text" class="form-control" id="username-signup">
      </div>
      <div class="row mb-3">
        <label for="password" class="m-0 p-0 col-sm-2 col-form-label">Password</label>
        <input type="password" class="form-control" id="password-signup">
      </div>
      <div class="row mb-3">
        <button type="submit" class="btn btn input-block-level form-control btn-primary p-2 m-0">Signup</button>
      </div>
      <div class="row mb-3">
        <a class="nav-link text-center" aria-current="page" href="#" onclick="openTab('login-tab')">Or login</a>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>