<form id="login-tab" class="box">
    <h1> Welcome Back! </h1>
    <input type="text" name placeholder="Username" id="username" autocomplete="off">
    <input type="password" name placeholder="Password" id="password-login">
    <input type="submit" name value="Login"></input>
    <a href="/signup" class="nav-link text-center small-link">or signup</a>
</form>
 

<link rel="stylesheet" href="/assets/css/login.css">
<script src="/assets/javascript/login.js"></script>