<div class="row p-2 justify-content-center">
  <div class="col-5 m-0 p-0">
    <form id="signup-tab" class="form signup-tab signup-form">
      <h2 class="display-5 text-center p-5"> Nice to meet you! </h2>
      <div class="row mb-3">
        <label for="username-signup" class="m-0 p-0 col-sm-2 col-form-label">Username</label>
        <input type="text" class="form-control" id="username-signup">
      </div>
      <div class="row mb-3">
        <label for="password" class="m-0 p-0 col-sm-2 col-form-label">Password</label>
        <input type="password" class="form-control" id="password-signup">
      </div>
      <div class="row mb-3">
        <button type="submit" class="btn btn input-block-level form-control btn-primary p-2 m-0">Signup</button>
      </div>
      <div class="row mb-3">
        <a href="/login" class="nav-link text-center" aria-current="page">Or
          login</a>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/signup.js"></script>