<form id="signup-tab" class="form signup-tab signup-form" style="display:none">
  <h2 class="display-5 text-center p-5"> Nice to meet you! </h2>
  <div class="row mb-3">
    <label for="email" class="m-0 p-0 col-sm-2 col-form-label">Email</label>
    <input type="email" class="form-control" id="email-signup">
  </div>
  <div class="row mb-3">
    <label for="email" class="m-0 p-0 col-sm-2 col-form-label">Username</label>
    <input type="text" class="form-control" id="username-signup">
  </div>
  <div class="row mb-3">
    <label for="password" class="m-0 p-0 col-sm-2 col-form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <div class="row mb-3">
    <button type="submit" class="btn btn input-block-level form-control btn-primary p-2 m-0">Signup</button>
  </div>
  <div class="row mb-3">
    <a class="nav-link text-center" aria-current="page" href="#" onclick="openTab('login-tab')">Or login</a>
  </div>
</form>
</div>
</div>

<script src="/javascript/signup.js"></script>