<form id="signup-tab" class="box">
  <h1> Welcome! </h1>
  <input type="text" name placeholder="Username" id="username-signup" autocomplete="off">
  <input type="password" name placeholder="Password" id="password-signup">
  <input type="submit" name value="signup"></input>
  <a href="/login" class="nav-link text-center small-link">or login</a>
</form>


<link rel="stylesheet" href="/assets/css/login.css">

<script src="/assets/javascript/signup.js"></script>