body {
	background-color: #f4f5fb;
	overflow-x: hidden;
	overflow: hidden;
}
.wrapper {
	height: 100vh;
	width: 80%;
	margin: 0 auto;
}

#subnav {
	min-width: 100%;
	border-bottom: 1px solid #e2e2e2;
	/* color: white; */
}

ul {
	padding: 0;
}
#room-users li {
	border-bottom: 2px solid #fff;
	padding: 1rem;
	list-style: none;
}

.current-users-icon {
	font-size: 1.2rem;
}

#chatInput {
	border: none;
	outline: none;
}
.chat-form{
	margin-top:-20px;
}
.chat-form button {
	height: 100%;
	background-color: transparent;
	border: none;
}

.chat-wrapper {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	height: 70vh;
}
#chatContainer {
	height: 62vh;
}
#chatBox {
	overflow-y: scroll;
	height:60vh;
	border-bottom: 1px solid #d3d3d3;
}
.send-icon{
color:#4356adc9;
	font-size: 30px;
}

.send-icon:hover{
	filter:brightness(50%)
}
#feedback p{
	margin-top:-45px;
	margin-left:5rem;
	color:#6CAD96;
	
}
#chatList li:nth-child(odd),
#chatList li:nth-child(even) {
	padding: 10px;
	word-wrap: break-word;
	border-radius: 12px;
}
#chatList .chatName {
	margin: 0;
}
#chatList li.theirs {
	background-color: #f4f4f4;
	display: inline-block;
	margin-right: 150px;
}
.your-message {
	text-align: right;
}
#chatList li.yours {
	background-color: #4356adc9;
	display: inline-block;
	color: #fff;
}

li.tiny {
	font-size: 8px;
}

li.angry {
	text-transform: uppercase;
	font-weight: bold;
	color: red;
}

li.backwards {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

li.excited::after {
	content: "!!!!!!!!!!!!!!!!!!!!!!!!";
}

li.blurry {
	color: transparent !important;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-room-owner {
	font-size: 18px;
	font-weight: 500;
}

.chat-wrapper {
}

.tiny-background {
}
.backwards-background {
}

.excited-background {
}
.angry-background {
}
.blurry-background {
}

.chat-bubble {
	padding:16px 28px;
    height:10px;
	border-radius: 20px;
	border-bottom-left-radius: 2px;
	display:inline-block;
	position: absolute;
	top:78%;
	left:3%;
	padding:18px 40px;
	
  }
  .typing {
	align-items: center;
	display: flex;
	height: 17px;
  }
  .typing .dot {
	animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
	border-radius: 50%;
	height: 7px;
	margin-right: 4px;
	vertical-align: middle;
	width: 7px;

	display: inline-block;
  }
  .typing .dot:nth-child(1) {
	animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
	animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
	animation-delay: 400ms;
  }
  .typing .dot:last-child {
	margin-right: 0;
  }
  
  @keyframes mercuryTypingAnimation {
	0% {
	  transform: translateY(0px);
	  background-color:#6CAD96; 
	}
	28% {
	  transform: translateY(-7px);
	  background-color:#9ECAB9;
	}
	44% {
	  transform: translateY(0px);
	  background-color: #B5D9CB; 
	}
  }
