body {
	font-family: "Barlow", sans-serif;
}

nav {
	background-color: #eb484de0;
  line-height: 0;
}

h1.navbar-brand {
	font-size: 32px;
	color: white;
}

nav a {
	font-size: 24px;
	color: white;
}

.room-list {
	background-color: #f4f5fb;
}

.sidenav {
	border-left: 1px solid #e2e2e2;
}

.list-group-item:hover {
	background-color: #fce9e9;
	border-left: 4px solid #eb484d;
}

.column-title {
	border-bottom: 1px solid #e2e2e2;
}

h4 {
	margin-bottom: 16px;
}

.online-users {
	font-size: 12px;
	color: #63cc9f;
}

#username {
	padding: 10px 8px 10px 16px;
	font-size: 1.2em;
	color: #222222;
	padding-left: 16px;
	border-bottom: 1px solid #e2e2e2;
}

.small-link {
	color: #4357ad;
	font-size: 20px;
}

.small-link:hover {
	text-decoration: underline;
}

#logout{
	background-color: transparent;
}
#login:hover,
#logout:hover {
	color: white;
	text-decoration: underline;
}

#roomicon {
	float: right;
}

#chatrooms {
	width: 70%;
}

#roomicon {
	float: right;
}

/* room styles */

.badge {
	background-color: hsl(358, 80%, 60%, 0.3);
	border-radius: 32px;
	font-size: 20px;
	line-height: 24px;
	color: rgb(36, 36, 36);
}

.btn {
	background-color: #4356adda;
	color: white;
	font-size: 24px;
	height: 60px;
	padding: 0 20px;
}

.btn:hover {
	background-color: #243891;
	color: white;
}

#holder {
	height: 60px;
}

label {
	font-size: 14px;
	padding-left: 12px;
	padding-top: 6px;
	position: absolute;
	color: rgb(141, 141, 141);
}

.form-control {
	height: 100%;
}


.error-input {
	text-align: center;
	vertical-align:center;
	margin-top:-300px;
	color:red;
}
